#message-container {
    height: 840px;
    width: 100%;
    max-height: 1000px;
    overflow-y: auto;
    margin-bottom: 20px;
}

#timeStamp {
    font-size: 10px;
}

#message {
    background-color: white;
    /* border: solid black 2px; */
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}

#owner {
    text-align: right;
    border: solid blue 1px;

}

#message-text {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;

}

#date {
    margin-left: 10px;
    margin-right: 10px;
}

#translate-btn {
    margin-left: 10px;
    background-color: #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
}

#translate-btn:hover {
    background-color: transparent;
    color:  #32CD33;
    transition: 0.8s;
}

#delete-message-btn {
    background-color: #F22225;
    color: white;
    border: solid #F22225 1px;
    transition: 0.5s;
}

#delete-message-btn:hover {
    background-color: transparent;
    color: #F22225;
    transition: 0.8s;
}

