#message-container {
    height: 840px;
    width: 100%;
    max-height: 1000px;
    overflow-y: auto;
    margin-bottom: 20px;
}

#timeStamp {
    font-size: 10px;
}

#message {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    width: 50%;
    max-width: 50%;
}

#owner {
    text-align: right;
    background-color: #32CD33;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    
}

#message-text {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

#owner-text {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

#date {
    margin-left: 10px;
    margin-right: 10px;
}

#translate {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
    color: #32CD33;
}

#owner-translate {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
    color: white
}

#owner-date {
    color: white;
}

#delete-message-btn {
    background-color: #F22225;
    color: white;
    border: solid #F22225 1px;
    transition: 0.5s;
}

#delete-message-btn:hover {
    background-color: transparent;
    color: #F22225;
    transition: 0.8s;
}

