#signin-container {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f7f7f7;
}

#signin-form-container {
    padding-top: 200px;
}

#signin-form {
    background-color: white;
}

#signin-btn {
    background-color: #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
}

#signin-btn:hover {
    background-color: transparent;
    color:  #32CD33 ;
    transition: 0.8s;
}

#signin-header {
    text-align: center;
    margin-bottom: 40px;
}

#signin-form-directions {
    font-weight: lighter;
    font-style: italic;
}

/* Mobile styling */

/* #signin-container-mobile {
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    background-color: #f7f7f7
}

#signin-btn-mobile {
    background-color:  #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
}

#signin-btn-mobile:hover {
    background-color: transparent;
    color:  #32CD33 ;
    transition: 0.8s;
} */

/* Tablet styling */

/* #signin-container-tablet {
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    background-color: #f7f7f7
}

#signin-btn-tablet {
    background-color:  #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
}

#signin-btn-tablet:hover {
    background-color: transparent;
    color:  #32CD33 ;
    transition: 0.8s;
} */

/* Computer styling */