#chatroom-interface {
    height: 898px;
    /* width: 260px; */
    background-color: #f7f7f7;
    max-height: 898px;
    overflow-y: auto;
}

/* #chat-grid {
    
} */

#room-name {
    text-align: center;
}