#chatroom-interface {
    height: 898px;
    max-height: 898px;
    /* width: 340px; */
    max-width: 340px;
    background-color: #f7f7f7;
    overflow-y: auto;
}

/* #outer-segment-group {
    
    max-width: 340px;
    height: 898px;
    max-height: 898px;
} */

#room-name {
    text-align: center;
}

#user-name {
    font-size: 20px;
}