#SendBtn {
    background-color: #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
}

#SendBtn:hover {
    background-color: transparent;
    color:  #32CD33 ;
    transition: 0.8s;
}

#sidebar {
    height: 100%
}

#chatroom-container {
    height: 100%;
}