#welcome {
    font-size: 54px;
    font-family: 'Rubik', sans-serif;
    color:black;
    text-align: center;
}

#landing-container {
    /* background-color: #F7F7F7; */
    border-radius: 10px;
    width: 100%;
    margin: 0 auto; /*This will automatically center anything*/
    /* margin-top: 115px; */
    padding:10%
}

#get-started {
    /* width: 200px; */
    background-color: #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
    margin: auto;
    display: block;
}

#get-started:hover {
    background-color: transparent;
    color:  #32CD33;
    transition: 0.8s;
}

#landing-page-image {
    margin: 0 auto;
}

#inner-landing-container {
    padding: 20px 0;
}

#body-text-grid {
    background-color: transparent;
}

#text1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color:black;
    font-size: 24px;
}

#text2 {
    text-align: center;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

#together {
    color:black;
    font-size: 36px;
    text-align: center;
}

#paragraph {
    font-size: 24px;
}

#developers-footer {
    margin-top: 50px;
    background-color: #32CD33;
}

#about-container {
    background-color: #F7F7F7;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto; /*This will automatically center anything*/
    margin-top: 40px;
}

#about-header {
    font-size: 54px;
    font-family: 'Rubik', sans-serif;
    color: black;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

#about-subheader1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

#about-subheader2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

#demo-container {
    /* background-color: #F7F7F7; */
    border-radius: 10px;
    width: 90%;
    margin: 0 auto; /*This will automatically center anything*/
    /* margin-top: 220px; */
    padding: 10%;
}

#demo-header {
    font-size: 54px;
    font-family: 'Rubik', sans-serif;
    color:black;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

#demo-subheader1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

#demo-subheader2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

#translate-demo-container {
    /* background-color: #F7F7F7; */
    border-radius: 10px;
    width: 90%;
    margin: 0 auto; /*This will automatically center anything*/
    /* margin-top: 40px; */
    padding: 10%;
}

#translate-demo-header {
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    color:black;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
}

#translate-demo-subheader {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}


/* Mobile styling

#welcome-mobile {
    text-align: center;
}

#together-mobile {
    text-align: center;
}

#paragraph-mobile {
    text-align: center;
}

#get-started-mobile {
    background-color: #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
}

#get-started-mobile:hover {
    background-color: transparent;
    color:  #32CD33;
    transition: 0.8s;
}

/* iPad styling */

/* #welcome-tablet {
    text-align: center;
}

#together-tablet {
    text-align: center;
}

#paragraph-tablet {
    text-align: center;
    font-size: 18px;
}

#get-started-tablet {
    background-color: #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
}

#get-started-tablet:hover {
    background-color: transparent;
    color:  #32CD33;
    transition: 0.8s;
} */ 

/* Computer styling */