#signup-container-largescreen {
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    background-color: #f7f7f7
}

#signup-form-container-largescreen {
    padding-top: 100px;
}

#signup-form-largescreen {
    background-color: white;
}

#signup-btn-largescreen {
    background-color:  #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
}

#signup-btn-largescreen:hover {
    background-color: transparent;
    color:  #32CD33 ;
    transition: 0.8s;
}

#signup-page-image-largescreen {
    margin: 0 auto;
}

#signup-header-largescreen {
    text-align: center;
    margin-bottom: 40px;
}

#signup-form-directions-largescreen {
    font-weight: lighter;
    font-style: italic;
}