#developers-container {
    padding: 10px;
}

#developers-list {
    margin-left: 20px;
}

#contact {
   margin-left: 10px;
   margin-bottom: 10px;
}

#feedback {
    margin: 10px;
    margin-top: 20px;
}

#developed {
    margin-top: 20px;
    margin: 10px;
}

#paul {
    margin: 10px;
}

#suneetha {
    margin: 10px;
}

#james {
    margin: 10px;
}