/* #developers-container {
    background-color: #B5B5B5;
} */

#developers-list {
    margin-left: 20px;
}

#paul-header {
    font-size: 24px;
}

#suneetha-header {
    font-size: 24px;
}

#james-header {
    font-size: 24px;
}