#developers-container {
    padding: 10px;
}

#about-header {
    color: white;
}

#about-text {
    color: white;
    font-size: 18px;
}

#contact {
   margin-left: 10px;
   margin-bottom: 10px;
   color: white;
}

#feedback {
    margin: 10px;
    margin-top: 20px;
    color: white;
}

#developed {
    color: white;
}

#powered {
    color: white;
}

#paul {
    margin-top: 10px;
    margin-right:10px;
}

#suneetha {
    margin-top: 10px;
    margin-right: 10px;
}

#james {
    margin-top: 10px;
}

#socket {
    margin-right: 10px;
}

/* #semantic {

} */