#signup-container {
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    background-color: #f7f7f7
}

#signup-form-container {
    padding-top: 100px;
}

#signup-form {
    background-color: white;
}

#signup-btn {
    background-color:  #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
}

#signup-btn:hover {
    background-color: transparent;
    color:  #32CD33 ;
    transition: 0.8s;
}

