#developers-container {
    padding: 10px;
    width: 100%;
    margin-top: 140px;
}

#contact {
   margin-left: 10px;
   margin-bottom: 10px;
   color: white;
   text-align: center;
}

#feedback {
    margin: 10px;
    margin-top: 20px;
    color: white;
    text-align: center;
}

#developed {
    color: white;
    text-align: center;
}

#powered {
    color: white;
}

#paul {
    margin-top: 10px;
    position: relative;
    left: 155px;
    margin-right:10px;
}

#suneetha {
    margin-top: 10px;
    position: relative;
    left: 155px;
    margin-right: 10px;
}

#james {
    margin-top: 10px;
    position: relative;
    left: 155px;
}

#socket {
    margin-left: 10px;
}

#semantic {
    position: relative;
    right: 110px;
}

#react {
    width: 120px;
    height: 80px;
    position: relative;
    right: 50px;
    
}

#redux {
    position: relative;
    right: 70px;
}

#google-translate {
    position: relative;
    right: 150px;
}