#developers-container {
    padding: 10px;
    width: 100%;
    margin:auto;
}

#contact {
    margin:auto;
    color: white;
}

#feedback {
    margin:auto;
    margin-top: 20px; 
    color: white;
   
}

#developed {
    color: white;
    margin:auto;
}

#powered {
    margin:auto;
    color: white;
}

.logos {
display: block;
margin-left: auto;
margin-right: auto;
   
}

.dev {
    margin:10px 
   }

