#DeleteRoomBtn-Outer {
    background-color: #F22225;
    color: white;
    border: solid #F22225 1px;
    transition: 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#DeleteRoomBtn-Outer:hover {
    background-color: transparent;
    color: #F22225;
    transition: 0.8s;
}