#contact-container{
    background-color: #F7F7F7;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto; /*This will automatically center anything*/
}

#contact-header {
    text-align: center;
    margin-bottom: 40px;
}

#contact-form-directions {
    font-weight: lighter;
    font-style: italic;
}