#signout-container {
    background-color: #f7f7f7;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

#right-inner-container {
    padding-top: 200px;
}

#button-row {
    padding-top: 20px;
}

#HomeBtn {
    background-color: #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
}

#HomeBtn:hover {
    background-color: transparent;
    color:  #32CD33;
    transition: 0.8s;
}