#welcome-computer {
    font-size: 54px;
    font-family: 'Rubik', sans-serif;
    color:black;
    text-align: center;
}

#landing-container-computer {
    background-color: #F7F7F7;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto; /*This will automatically center anything*/
    margin-top: 115px;
}

#get-started-computer {
    /* width: 200px; */
    background-color: #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
    margin: auto;
    display: block;
}

#get-started-computer:hover {
    background-color: transparent;
    color:  #32CD33;
    transition: 0.8s;
}

#landing-page-image-computer {
    margin: 0 auto;
}

#inner-landing-container-computer {
    padding-top: 100px;
}

#body-text-grid-computer {
    background-color: transparent;
}

#text1-computer {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color:black;
    font-size: 24px;
}

#text2-computer {
    text-align: center;
}

#header-computer {
    text-align: center;
    margin-bottom: 20px;
}

#together-computer {
    color:black;
    font-size: 36px;
    text-align: center;
}

#paragraph-computer {
    font-size: 18px;
}

#developers-footer-computer {
    margin-top: 50px;
    background-color: #32CD33;
}

#about-container-computer {
    background-color: #F7F7F7;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto; /*This will automatically center anything*/
    margin-top: 40px;
}

#about-header-computer {
    font-size: 54px;
    font-family: 'Rubik', sans-serif;
    color: black;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

#about-subheader1-computer {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

#about-subheader2-computer {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

#demo-container-computer {
    background-color: #F7F7F7;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto; /*This will automatically center anything*/
    margin-top: 220px;
}

#demo-header-computer {
    font-size: 54px;
    font-family: 'Rubik', sans-serif;
    color:black;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

#demo-subheader1-computer {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

#demo-subheader2-computer {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

#translate-demo-container-computer {
    background-color: #F7F7F7;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto; /*This will automatically center anything*/
    margin-top: 40px;
}

#translate-demo-header-computer {
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    color:black;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
}

#translate-demo-subheader-computer {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}