/* Computer Styling */

#navbar {
    background-color:#32CD33;
}

#signup-computer {
    color: white;
    position: relative;
    right: 60px;
    font-size: 18px;
}

#signin-computer {
    background-color: transparent;
    color: white;
    border: solid white 1px;
    transition: 0.5s;
    position: relative;
    right: 40px;
    font-size: 18px;
}

#signin-computer:hover {
    background-color: white;
    color:  #32CD33;
    transition: 0.8s;
}

#chatrooms-computer {
    color: white;
    position: relative;
    right: 40px;
    font-size: 18px;
}

#user-dropdown-computer {
    color: white;
    font-size: 18px;
    position: relative;
    right: 40px;
}

/* Smaller screen styling */

#signup-small {
    color: white;
    position: relative;
    right: 60px;
    font-size: 18px;
}

#signin-small {
    background-color: transparent;
    color: white;
    border: solid white 1px;
    transition: 0.5s;
    position: relative;
    right: 40px;
    font-size: 18px;
}

#signin-small:hover {
    background-color: white;
    color:  #32CD33;
    transition: 0.8s;
}

#chatrooms-small {
    color: white;
    position: relative;
    right: 40px;
    font-size: 18px;
}

#user-dropdown-small {
    color: white;
    font-size: 18px;
    position: relative;
    right: 40px;
}