#navbar {
    background-color:#F7F7F7;
}

#signup {
    color: black;
}

#signin {
    background-color:  #32CD33;
    color: white;
    border: solid #32CD33 1px;
    transition: 0.5s;
    position: relative;
    right: 20px;
}

#signin:hover {
    background-color: transparent;
    color:  #32CD33;
    transition: 0.8s;
}

#signout {
    color: black;
    position: relative;
    right: 20px;
}

#room-select {
    color: black;
    position: relative;
    right: 20px;
}

#already-user {
    position: relative;
    right: 20px;
}