#navbar {
    background-color:#32CD33;
   
}

#signup {
    color: white;
    position: relative;
    right: 30px;
    font-size: 18px;
}

#signin {
    background-color: transparent;
    color: white;
    border: solid white 1px;
    transition: 0.5s;
    position: relative;
    right: 20px;
    font-size: 18px;
}

#signin:hover {
    background-color: white;
    color:  #32CD33;
    transition: 0.8s;
}

#signout {
    color: white;
    position: relative;
    right: 20px;
}

#chatrooms {
    color: white;
    position: relative;
    right: 20px;
    font-size: 18px;
}

#user-dropdown {
    color: white;
    font-size: 18px;
    position: relative;
    right: 20px;
}