#message-container {
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
    text-align: center;
}

.message-outline {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 25px;
}

#timeStamp {
    font-size: 10px;
}

